{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        {% include 'includes/dashboard_sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Update Profile:</strong>
            </header>

            <div class="card-body">

                <div class="text-right">
                    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" width="120" style="border-radius: 50px;">
                </div>

                <div class="row"> 
                    <div class="col-md-12">

                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-row mb-3">
                                <div class="form-group col-md-6">
                                    <label for="username">Username:</label>
                                    {{ user_form.username }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Email:</label>
                                    {{ user_form.email }}
                                </div>
                            </div>

                            <div class="form-row mb-3">
                                <div class="form-group col-md-6">
                                    <label for="first_name">First Name:</label>
                                    {{ user_form.first_name }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">Last Name:</label>
                                    {{ user_form.last_name }}
                                </div>
                            </div>

                            <div class="form-row mb-3">
                                <div class="form-group col-md-6">
                                    <label for="phone_number">Phone Number:</label>
                                    {{ user_form.phone_number }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="address_line">Address:</label>
                                    {{ profile_form.address_line }}
                                </div>
                            </div>

                            <div class="form-row mb-3">
                                <div class="form-group col-md-6">
                                    <label for="profile_picture">Profile Picture:</label>
                                    {{ profile_form.profile_picture }}
                                </div>
                            </div>
                            <div class="form-row mb-3">
                                <div class="form-group col-md-6 mt-3">
                                    <button type="submit" class="btn btn-primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                        
                    
                    </div>
                </div> 
            </div> 
            </article> 
        </main>
    </div>
    
    
    </section>

{% endblock %}